@import "variables";

// $separating-line: solid 2px $color-accent;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 16px Verdana, sans-serif;
  color: $color-font;
}

body {
  // background: $color-primary;
  height: 100vh;
  display: grid;
  grid-template-rows: 6rem 1fr 2rem;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  background: $color-accent;
  grid-area: header;
  // border-bottom: $separating-line;
  padding: 1rem;
}

main {
  grid-area: main;
  display: flex;
}

.input {
  background: $color-secondary;
  flex: 1 0 20%;

  img {
    width: 80%;
    display: block;
  }
}

.error {
  color: red;
}

.output {
  background: $color-primary;
  flex: 1 0 50%;

  #canvas_div {
    width: 100%;
    height: auto;
    background: green;
    display: block;

    canvas {
      border: solid 2px white;
    }
  }
}

footer {
  background: $color-accent;
  grid-area: footer;
  // border-top: $separating-line;
  padding: 0.5em 1em;
}
