// Color scheme: https://coolors.co/413c58-a3c4bc-bfd7b5-e7efc5-f2dda4

// https://coolors.co/12100e-30321c-4a4b2f-6b654b-d4df9e

// https://coolors.co/130303-2d080a-7c3626-f5853f-ffcdbc

$color-primary: #2d080a;
$color-secondary: #7c3626;
$color-accent: #130303;
$color-font: #ffcdbc;

// $separating-line: solid 2px $color-accent;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

html {
  font: 16px Verdana, sans-serif;
  color: $color-font;
}

body {
  // background: $color-primary;
  height: 100vh;
  display: grid;
  grid-template-rows: 6rem 1fr 2rem;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  background: $color-accent;
  grid-area: header;
  // border-bottom: $separating-line;
  padding: 1rem;
}

main {
  grid-area: main;
  display: flex;
}

.input {
  background: $color-secondary;
  flex: 1 0 20%;
}

.output {
  background: $color-primary;
  flex: 1 0 50%;
}

footer {
  background: $color-accent;
  grid-area: footer;
  // border-top: $separating-line;
  padding: 0.5em 1em;
}
